/* margin */
.mt-3 {
  margin: 3% 0% 0%;
}
.mt-4 {
  margin: 4% 0% 0%;
}
.mt-5 {
  margin: 5% 0% 0%;
}
.mt-6 {
  margin: 6% 0% 0%;
}
.mt-7 {
  margin: 7% 0% 0%;
}
.mt-8 {
  margin: 8% 0% 0%;
}
.mt-9 {
  margin: 9% 0% 0%;
}
.mt-10 {
  margin: 10% 0% 0%;
}
.mt-11 {
  margin: 11% 0% 0%;
}
.mt-12 {
  margin: 12% 0% 0%;
}
.mt-13 {
  margin: 13% 0% 0%;
}
.mt-14 {
  margin: 14% 0% 0%;
}
.mt-15 {
  margin: 15% 0% 0%;
}
.mtb-3 {
  margin: 3% 0%;
}
.mtb-4 {
  margin: 4% 0%;
}
.mtb-5 {
  margin: 5% 0%;
}
.mtb-6 {
  margin: 6% 0%;
}
.mtb-7 {
  margin: 7% 0%;
}
.mtb-8 {
  margin: 8% 0%;
}
.mtb-9 {
  margin: 9% 0%;
}
.mtb-10 {
  margin: 10% 0%;
}
.mtb-11 {
  margin: 11% 0%;
}
.mtb-12 {
  margin: 12% 0%;
}
.mtb-13 {
  margin: 13% 0%;
}
.mtb-14 {
  margin: 14% 0%;
}
.mtb-15 {
  margin: 15% 0%;
}

/* padding */
.pt-3 {
  margin: 3% 0% 0%;
}
.pt-4 {
  margin: 4% 0% 0%;
}
.pt-5 {
  margin: 5% 0% 0%;
}
.pt-6 {
  margin: 6% 0% 0%;
}
.pt-7 {
  margin: 7% 0% 0%;
}
.pt-8 {
  margin: 8% 0% 0%;
}
.pt-9 {
  margin: 9% 0% 0%;
}
.pt-10 {
  margin: 10% 0% 0%;
}
.pt-11 {
  margin: 11% 0% 0%;
}
.pt-12 {
  margin: 12% 0% 0%;
}
.pt-13 {
  margin: 13% 0% 0%;
}
.pt-14 {
  margin: 14% 0% 0%;
}
.pt-15 {
  margin: 15% 0% 0%;
}
.mtb-3 {
  margin: 3% 0%;
}
.mtb-4 {
  margin: 4% 0%;
}
.mtb-5 {
  margin: 5% 0%;
}
.mtb-6 {
  margin: 6% 0%;
}
.mtb-7 {
  margin: 7% 0%;
}
.mtb-8 {
  margin: 8% 0%;
}
.mtb-9 {
  margin: 9% 0%;
}
.mtb-10 {
  margin: 10% 0%;
}
.mtb-11 {
  margin: 11% 0%;
}
.mtb-12 {
  margin: 12% 0%;
}
.mtb-13 {
  margin: 13% 0%;
}
.mtb-14 {
  margin: 14% 0%;
}
.mtb-15 {
  margin: 15% 0%;
}

/* font size */
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-bold {
  font-weight: 600;
}
/* background */
.bg-gradient {
  background: linear-gradient(to bottom, #4796c5 10%, #845EC2 80%);
}
.bg-white {
  background: #ffffff;
}
.bg-green {
  background: #7db94d;
}
/* text colour */
.txt-white {
  color: #ffffff;
}
.txt-black {
  color: #000000;
}
.txt-green {
  color: #7db94d;
}

/* border radius */
.br-1 {
  border-radius: 1%;
}
.br-2 {
  border-radius: 2%;
}
.br-3 {
  border-radius: 3%;
}
.br-4 {
  border-radius: 4%;
}
.br-5 {
  border-radius: 5%;
}
.br-6 {
  border-radius: 6%;
}
.br-7 {
  border-radius: 7%;
}

/* header section */
.header {
  background: linear-gradient(to top, #4796c5 100%, #845EC2 8%);
  padding: 3% 2%;
}
.banner-image {
  padding: 10% 8% 9% 12%;
}
/* banner section*/
.get-your-visa {
  border-radius: 5px;
  font-size: 13px;
  padding: 9px 33px;
}
.get-your-visa i{
  padding: 0 6%;
}

/* we offer wide section*/
p {
  font-size: 14px;
}
.your-required a:hover {
  color: #7db94d;
  text-decoration: none;
}
.slider_in a {
  color: #000000;
}
.service-box {
  box-shadow: 0 1px 3px 1px rgba(60,64,67,0.15);
  padding: 5% 5%;
}
.review-image img{
  width: 100%;
}
.blog-image img {
  width: 100%;
  min-height: 370px;
  border-radius: 2%;
  position: relative;
}
.blog-content {
  position: absolute;
  bottom: 3%;
  left: 10%
}
/**/
.services li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
  font-weight: 600;
  line-height: 2;
}

.services li:before {
  content: "\2192";
  font-size: 24px;
  position: absolute;
  top: -11px;
  left: -27px;
}
.travel-banner {
  position: relative;
}
.travel-banner-content {
  position: absolute;
  top: 30%;
  padding: 3% 48% 0% 6%;
}
.card-text {
  position: absolute;
  left: 0;
  bottom: 20px;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s ease;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
.world-map img {
  max-height: 540px;
  width: 100%;
}
.relevant-anchors {
  margin: 14% 0% 0%;
  font-size: inherit;
}
.relevant-anchors span:not(:last-child):after {
  content: '|';
  padding: 2%;
}
.head-text h1 {
  font-size: 47px;
  font-weight: 600;
}
.head-text p {
  margin: 8% 0%;
}
.sub-head-text h2 {
  font-weight: 600;
  font-size: 28px;
}
.sub-head-text p{
  margin: 5% 0%;
}

.slider_in {
  padding: 0px 0px 80px 40px;
}
.img_wrp {
  line-height: 0px;
  padding: 5px;
}
.img_wrp img {
  transition: all 0.5s ease;
}
.links-listing {
  padding: 0%;
}
.links-listing li {
  list-style-type: none;
  line-height: 2.5;
  font-size: 13px;
}
.links-listing li a {
  color: #000000;
  text-decoration: none;
}
.list {
  padding: 0%;
}
.list li {
  list-style-type: none;
  line-height: 2;
  font-size: 13px;
}
.list li a {
  color: #000000;
  text-decoration: none;
}
/*.owl-prev {
  position: absolute;
  z-index: 10;
  display: inline-block;
  left: -104px;
  cursor: pointer;
  font-size: 0.1px;
  top: 37%;
  width: 95px;
  height: 140px;
  background: #fff url(https://goo.gl/kLnzFJ)no-repeat;
}
.owl-next {
  position: absolute;
  z-index: 10;
  display: inline-block;
  right: -51px;
  cursor: pointer;
  font-size: 0.1px;
  top: 37%;
  width: 45px;
  height: 140px;
  background: #fff url(https://goo.gl/ipLMit)no-repeat center;
}*/
.menu a {
  color: #ffffff !important;
  font-size: 14px;
  margin-left: 22px;
}
.img_text {
  position: absolute;
  left: 12px;
  bottom: 20px;
  opacity: 0;
  z-index: 10;
  transition: all 0.5s ease;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.img_text h5 {
  font-size: 23px;
  color: #fff;
  line-height: 1;
  padding: 0 0 4px 0px;
}

.img_text p {
  font-size: 12px;
  padding: 0px 10px;
  font-weight: 500;
  margin: 0px;
  color: #fff;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: capitalize;
}

.img_wrp:hover img {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.5s ease;
}
.img_wrp:hover .img_text {
  opacity: 1;
  transition: all 0.5s ease;
}
.img_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 1;
}
.img_wrp:hover .img_bg {
  opacity: 1;
}
.owl-carousel .owl-item img {
  border-radius: 3%;
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
  height: 351px;
}